
<%- include("partials/header.ejs") %>

<form method="POST" action="/createPost" id="form">
    <div class="formgroup">
       <label for="name"></label> <br>
        <input type="text" name="name" id="name" placeholder="Enter your name">
    </div>

    <div class="formgroup">
        <label for="heading"></label> <br>
        <input type="text" name="heading" id="heading" placeholder="Enter your post's title">
    </div>

    <div class="formgroup">
        <label for="content"></label><br>
        <textarea name="content" id="content" cols="70" rows="8"  placeholder="Enter Your Post's content"></textarea>
    </div>

    <div>
        <button type="submit" action="create">Create Post</button>
    </div>

</form>